<!DOCTYPE html>
<html>
<head>
	<title>Authentication Error</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<style>
		h1 {
			color: #ff3333;
		}

		.grid-item {
			margin: 20px;
			width: auto;
			border-radius: 5px;
		}

		* {
			font-family: 'Averia Sans Libre';
		}

		#link {
			text-decoration: none;
			color: #007acc;
		}

		#link:hover {
			color: #1aa3ff;
		}

		p, #link {
			font-size: 15px;
		}
	</style>
</head>
<body>
	<!-- modified navbar, only login -->
	<div class="navbar">
		<ul>
			<div style="float:right">
				<li id="authMessage"><a href="#">{{auth.message}}</a></li>
				<li><a href="/auth/google">Log In <i class="fas fa-sign-in-alt"></i></a></li>
			</div>
		</ul>
	</div>

	<div class="grid-container">
		<div class="grid-item">
			<h1><i class="fas fa-ban"></i> We were unable to find a user with that email.</h1>
			{{#email}}<p>There is no registered user under the email "{{email}}" in this system.</p>{{/email}}
			<p>Please contact an administrator if this is a mistake, or try authenticating with a different Google account.</p>
			<a id="link" href="/auth/google{{#returnTo}}?returnTo={{{returnTo}}}{{/returnTo}}">Back to Authentication Screen</a>	
		</div>
	</div>
</body>
</html>