<!DOCTYPE html>
<html>
<head>
	<title>Edit Student</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<link rel="stylesheet" type="text/css" href="/editStudent.css">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	<!-- jQuery UI for confirmations -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>
		$(function() {
			// configure dialog settings
			function getDialogSettings($form, $dialogElement, $submit) {
		        // add listener for submit button
				$submit.on('click', function(e) {
					e.preventDefault();
		            $dialogElement.dialog('open');
		        });

		        // return settings
				return {
		            resizable: false,
		            height: "auto",
		            autoOpen: false,
		            width: 400,
		            modal: true,
		            buttons: {
		                "Yes": function() {
		                    $form.submit();
		                },
		                "No": function() {
		                    $(this).dialog("close");
		                }
		            }
		        };
	        }

			// set up edit student confirmation dialogue
	        $("#confirm-edit").dialog(getDialogSettings($('#editForm'), $('#confirm-edit'), $('#submitEditForm')));

	        // set up delete student confirmation dialogue
	        $("#confirm-delete").dialog(getDialogSettings($('#deleteForm'), $('#confirm-delete'), $('#submitDeleteForm')));
	    });
	</script>
</head>
<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>

		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center"> Edit Student</h1>
				</div>
			</div>
		</div>
	</header>

	<main>

		<div id="confirm-edit" title="Apply Updates?" hidden>
			<p>These updates will be applied to this student's profile. Are you sure?</p>
		</div>

		<div id="confirm-delete" title="Delete Student?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Deleting this student will remove their profile information and any associated records <strong>permanently</strong>.This action cannot be undone.<br><br>Are you sure?</p>
		</div>

		<div class="grid-container">
			<div class="grid-item">
				<a href="/students/{{uid}}" id="backButton"><i class="fas fa-angle-left"></i> Back to Profile</a>
				<form id="deleteForm" action="/deleteStudent/{{uid}}" method="POST"> 
					<input name="studentUID" value="{{uid}}" hidden>
					<button alt="Delete Student" id="submitDeleteForm" class="submit" title="Delete Student"><i class="fas fa-trash-alt"></i></button>
				</form>

				<form id="editForm" action="/editStudent/{{uid}}" method="POST">

					<table id="fieldsTable">
			            <tr>
			                <th><span class="required">*</span>Age Group:</th>
			                <td>
								<select name="isAdult">
									<option value="0">Child</option>
									<option value="1"{{#isAdult}}selected{{/isAdult}}>Adult</option>
								</select>
			                </td>
			            </tr>
			            <tr>
			                <th><span class="required">*</span>Name:</th>
			                <td>
								<input name="name" autocomplete="off" value="{{name}}">
			                </td>
			            </tr>
			            <tr>
			                <th>Parent 1:</th>
			                <td>
								<input name="parent1" value="{{parent1}}" autocomplete="off">
			                </td>
			            </tr>
			            <tr>
			                <th>Parent 2:</th>
			                <td>
								<input name="parent2" value="{{parent2}}" autocomplete="off">
			                </td>
			            </tr>
			            <tr>
			                <th>Address:</th>
			                <td>
								<input name="address" value="{{address}}" autocomplete="off">
			                </td>
			            </tr>
			            <tr>
			                <th>Phone Number:</th>
			                <td>
								<input name="phone" value="{{phone}}" autocomplete="off">
			                </td>
			            </tr>
			            <tr>
			                <th>Uniform Size:</th>
			                <td>
								<input name="uniformSize" value="{{uniformSize}}" autocomplete="off">
			                </td>
			            </tr>
			            <tr>
			                <th>Special Circumstances:</th>
			                <td>
								<textarea name="specialCircumstances" id="specialCircumstances" cols="50">{{specialCircumstances}}</textarea>
			                </td>
			            </tr>
					</table>

					<p class="required">* indicates required field</p>
					
					<input id="submitEditForm" type="button" class="submit" value="Update Profile">
				</form>
			</div>
		</div>
	<main>
</body>
</html>