<!DOCTYPE html>
<html>
<head>
	<title>Edit Report {{report.uid}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<link rel="stylesheet" type="text/css" href="/slider.css">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<script src="/Chart.js"></script>
	<link rel="stylesheet" type="text/css" href="/editReport.css">

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- jQuery UI for confirmations -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>
		$(function() {
			// configure dialog settings
			function getDialogSettings($form, $dialogElement, $submit) {
		        // add listener for submit button
				$submit.on('click', function(e) {
					e.preventDefault();
		            $dialogElement.dialog('open');
		        });

		        // return settings
				return {
		            resizable: false,
		            height: "auto",
		            autoOpen: false,
		            width: 400,
		            modal: true,
		            buttons: {
		                "Yes": function() {
		                    $form.submit();
		                },
		                "No": function() {
		                    $(this).dialog("close");
		                }
		            }
		        };
	        }

			// set up delete report confirmation dialogue
	        $("#delete-report").dialog(getDialogSettings($('#deleteReportForm'), $('#delete-report'), $('#submitDeleteReport')));

	        // set up edit report confirmation dialogue
	        $("#edit-report").dialog(getDialogSettings($('#editReportForm'), $('#edit-report'), $('#submitEditReport')));

	        // toggle display of teacher interface
	        $('#toggleTeacherInterface').click(function(e) {
	        	$('#teacherWrapper').slideToggle();
	        });

	        // create default individual record object with null values, and record UID
	        function getDefaultIndividualRecord(uid) {
	        	return {
	        		uid: uid,
	        		didEat: 0,
	        		disciplinePoints: null,
	        		comments: null
	        	};
	        }

	        // add listener to parse edit report form into AJAX request
	        $("#editReportForm").on("submit", function(event) {
	        	// prevent form from sending default request
				event.preventDefault();

				// serialize form into array of objects
				var formArray = $(this).serializeArray();

				// association of individual record UIDs 
				var uidToRecord = {};

				// associate the name of each field in form to its value
				var nameToValue = {};

				// object to hold edited report information (for POSTing)
				var report = {
					teachers: [],
					records: []
				};

				// look for individual record UID's first
				for (var i = 0; i < formArray.length; i++) {
					if (formArray[i].name == "individualRecordUID") {
						// construct record object
						var record = getDefaultIndividualRecord(formArray[i].value);

						// associate this UID to 
						uidToRecord[formArray[i].value] = record;

						// add record to list in report object
						report.records.push(record);

					// if field is part of an individual record
					} else if (formArray[i].name.includes('-')) {
						// associate name to value
						nameToValue[formArray[i].name] = formArray[i].value;
					} else {
						// add report field to report
						report[formArray[i].name] = formArray[i].value;
					}
				}

				// loop through each field in form
				for (var name in nameToValue) {
					if (nameToValue.hasOwnProperty(name)) {
						// split field into name and uid
						var split = name.split('-');

						if (split.length > 1) {
							// get the associated record for this UID
							var record = uidToRecord[split[1]];

							// if this is an individual record field
							if (record) {
								// parse didEat from "on" or null to boolean
								if (split[0] == "didEat") {
									record.didEat = nameToValue[name] == "on" ? 1 : 0;
								} else {
									// add field value to record
									record[split[0]] = nameToValue[name];
								}
							} else {
								// add teacher UID to report teachers
								report.teachers.push(split[1]);
							}
						}
					}
				}

				// post the updated report info to /editReport
				$.post("/editReport/{{report.uid}}", { report: report }, function(data) {
					// render HTML from response
					$('html').html(data);
				});
			});
		});
    </script>
</head>
<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>

		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center"> Edit Class Report {{report.uid}}</h1>
				</div>
			</div>
		</div>
	</header>

	<main>
		<!-- delete report confirmation message -->
		<div id="delete-report" title="Delete Report?" hidden>
			<p></span>This will <strong>permanently</strong> remove this report from the system. This action cannot be undone.<br><br>Are you sure?</p>
		</div>

		<!-- edit report confirmation message -->
		<div id="edit-report" title="Edit Report?" hidden>
			<p></span>This will apply edits to this Class Report.<br><br>Are you sure?</p>
		</div>

		<div class="grid-container">
			<div class="grid-item">
				<a href="/reports/{{report.uid}}" id="backButton"><i class="fas fa-angle-left"></i> Back to Report</a>
				<form id="deleteReportForm" action="/deleteReport/{{report.uid}}" method="POST">
					<input name="reportUID" value="{{report.uid}}" hidden>
					<button alt="Delete Report" id="submitDeleteReport" class="submit" value="Delete Report"><i class="fas fa-trash-alt"></i></button>
				</form>

				<h3>Recorded {{report.formattedWhenRecorded}}</h3>

				<form id="editReportForm" action="/editReport/{{report.uid}}" method="POST">


					<table>
						<tr>
							<th>Classroom</th>
							<th>Class Type</th>
							<th>Snack Type</th>
						</tr>
						<tr>
							<td>
								<!-- allow user to change classroom -->
								<select name="classroomUID">
									{{#classrooms}}
									<option value="{{uid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
									{{/classrooms}}
								</select>
							</td>
							<td>
								<!-- allow user to change class type -->
								<select name="classTypeUID">
									{{#classTypes}}
									<option value="{{uid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
									{{/classTypes}}
								</select>
							</td>
							<td>
								<!-- allow user to change snack type -->
								<select name="snackUID">
									{{#snacks}}
									<option value="{{uid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
									{{/snacks}}
								</select>
							</td>
						</tr>
					</table>
					<br>

					<!-- textarea for editing comments -->
					<span class="fieldName">Edit Class Comments</span><br>
					<textarea name="comments" id="classComments">{{report.comments}}</textarea>
					<br>

					<!-- table of teachers, to choose who is linked to this report -->
					<div id="teacherToggleWrapper" title="If you don't see the teachers you're looking for here, they may have been archived. Try unarchiving them in System Tools to link or unlink them from this report.">
						<span id="toggleTeacherInterface">Modify Associated Teachers <i class="fas fa-chevron-down"></i></span>
					</div>
					<div id="teacherWrapper" hidden>
						<table id="teacherTable">
							<tr>
								<th>Name</th>
								<th>Linked to Report</th>
							</tr>
							{{#teachers}}
							<tr>
								<!-- display teacher name, or email if undefined -->
								<td>{{#name}}{{name}}{{/name}}{{^name}}{{email}}{{/name}}</td>
								<td>
									<label class="switch">
										<input name="teacher-{{uid}}" type="checkbox" {{#linked}}checked{{/linked}}>
										<span class="slider round"></span>
									</label>
								</td>
							</tr>
							{{/teachers}}
						</table>
					</div>
					<br>

					<!-- table of individual records in this report -->
					<table id="recordsTable" class="report-table">
						<tr>
							<th>Name</th>
							<th>Ate?</th>
							<th>Disciplinary Points</th>
							<th>Comments</th>
						</tr>
						{{#report.records}}
						<input name="individualRecordUID" value="{{uid}}" hidden>
						<tr>
							<td>{{student}}</td>
							<td>
								<label class="switch">
									<input name="didEat-{{uid}}" type="checkbox" {{#didEat}}checked{{/didEat}}>
									<span class="slider round"></span>
								</label>
							</td>
							<td><input class="disciplinePoints" name="disciplinePoints-{{uid}}" type="number" min="0" max="{{maxDiscPoints}}" value="{{disciplinePoints}}"></td>
							<td><textarea name="comments-{{uid}}" class="studentComments">{{comments}}</textarea></td>
						</tr>
						{{/report.records}}
					</table>

					<input id="submitEditReport" class="submit" type="button" value="Apply Edits">
				</form>
			</div>
		</div>
	<main>
</body>
</html>