<!DOCTYPE html>
<html>
<head>
	<title>An Error Occurred.</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<style>
		h1 {
			color: #ff3333;
		}

		.grid-item {
			margin: 20px;
			width: auto;
			border-radius: 5px;
		}

		* {
			font-family: 'Averia Sans Libre';
		}

		#errorLink {
			text-decoration: none;
			color: #007acc;
		}

		#errorLink:hover {
			color: #1aa3ff;
		}

		p, #errorLink {
			font-size: 15px;
		}
	</style>
</head>
<body>
	<div class="navbar">
		<ul>
			<li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
			<li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
			<li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
			<li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
			<li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
			<li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
			<div style="float:right">
				<li id="authMessage"><a href="#">{{auth.message}}</a></li>
				<li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
			</div>
		</ul>
	</div>

	<div class="grid-container">
		<div class="grid-item">
			<h1><i class="fas fa-exclamation-circle"></i> An Error Occurred.</h1>
			<p>{{message}}</p>
			{{#link}}<a id="errorLink" href="{{{link.href}}}">{{link.text}}</a>{{/link}}
			
			{{#inDevMode}}
				{{#function}}<p>ERR @ {{{function}}}</p>{{/function}}
				{{#raw}}<p><strong>Raw Error Message: </strong>{{{raw}}}</p>{{/raw}}
			{{/inDevMode}}
		</div>
	</div>
</body>
</html>