<!DOCTYPE html>
<html>
<head>
	<title>HCA Attendance System</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>

		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center"> General Information</h1>
				</div>
			</div>

			<div class="search-wrapper">
				<form action="/searchStudents" method="POST">
					<input class="search" list="students" type="text" name="query" autocomplete="off" placeholder="Search Students">
					<datalist id="students">
						{{#searchableStudents}}
						<option value="{{name}}">
						{{/searchableStudents}}
					</datalist>
					<button class="search-button" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
		</div>

	</header>

	<main>
		<div class="grid-container" id="g-index">
			<div id="search-filters" class="grid-item" style="grid-area:a;padding:8px;overflow:none;vertical-align:center;">
				<form action="/" method="POST" class="special-top">
					<div style="float:left">
						<b>Class:&nbsp;</b>
					</div>
					<select id="classroom" name="classroomUID" onchange="this.form.submit();">
						<option value="-1">All Classrooms</option>
						{{#classrooms}}
						<option value="{{uid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
						{{/classrooms}}
					</select>
					<select id="classtype" name="classTypeUID" onchange="this.form.submit();">
						<option value="-1">All Class Types</option>
						{{#classTypes}}
						<option value="{{uid}}" {{#selected}}selected{{/selected}}>{{name}}</option>
						{{/classTypes}}
					</select>
					&nbsp; &nbsp;
					</select>
					<div style="float:left">
						<b>Timeframe:</b>&nbsp;
					</div>
					<select id="timeframe" name="timeframe" onchange="this.form.submit();">
						{{#timeframes}}
						<option value="{{abbrev}}" {{#selected}}selected{{/selected}}>{{name}}</option>
						{{/timeframes}}
					</select>
				</form>
			</div>

			<div class="grid-item" style="grid-area:b">
				<i class="fas fa-info-circle moreInfo" title="This section displays students who have recently stopped attending class for {{numDaysAbsent}} class days or more."></i>
				<h2> Potential Attendance Issues </h2>

				{{#absenteesExist}}
				<h5 class="subtitle"> Normally regular students who have been absent {{numDaysAbsent}} days or more</h5>
				<table class="home-tables">
					<tr>
						<th> Name </th>
						<th> Date Last Attended </th>
					</tr>
					{{#absentees}}
					<tr>
						<td><a href="/students/{{uid}}">{{name}}</a></td>
						<td>{{dateLastAttended}}</td>
					</tr>
					{{/absentees}}
				</table>
				{{/absenteesExist}}

				{{^absenteesExist}}
				<p>There is no absence data to display for this timeframe.</p>
				{{/absenteesExist}}
			</div>
			<div class="grid-item" style="grid-area:c">
				<i class="fas fa-info-circle moreInfo" title="This section plots the total number of students recorded with the days upon which class occurred within the given timeframe.{{#averagingAttendanceCounts}} In order to fit a large amount of data, the totals are being averaged in groups.{{/averagingAttendanceCounts}}"></i>
				<h2> Attendance History</h2>

				{{#attendanceCountsExist}}
				<h5 class="subtitle">{{^timeframeIsAllTime}}Number of students who have attended over the past {{currentTimeframe}}{{/timeframeIsAllTime}}
					{{#timeframeIsAllTime}}Number of students who have attended over all time{{/timeframeIsAllTime}}
					{{#averagingAttendanceCounts}} (Averaged to fit timeframe){{/averagingAttendanceCounts}}</h5>
				<canvas id="line-chart"></canvas>
				<script>
					new Chart(document.getElementById("line-chart"), {
						type: 'line',
						data: {
						labels: [{{#attendanceCounts}}"{{x}}",{{/attendanceCounts}}],
						datasets: [{ 
						    data: [{{#attendanceCounts}}{{y}},{{/attendanceCounts}}],
						    borderColor: "#3e95cd",
						    fill: false
						  }
						]
						},
						options: {
							legend: {
								display: false
							},
							scales: {
					            yAxes: [{
					            	scaleLabel: {
										display: true,
										labelString: '# Students Who Attended'
									},
					                ticks: {
					                    min: 0
					                }
					            }],
					            xAxes: [{
					            	scaleLabel: {
										display: true,
										labelString: 'Date'
									}
					            }]
					        }
						}
						});
				</script>
				{{/attendanceCountsExist}}


				{{^attendanceCountsExist}}
				<p>There is no attendance data to display for this timeframe.</p>
				{{/attendanceCountsExist}}
			</div>

			{{^isAdultClass}}
			<div class="grid-item" style="grid-area:d">
				<i class="fas fa-info-circle moreInfo" title="This section displays students with the highest average disciplinary points within the given timeframe, as well as how many classes contributed to this average. The more classes that contribute to the average, the more representative the disciplinary average is of that student's behavior."></i>
				<h2> Potential Disciplinary Issues</h2>

				{{#disciplinaryIssuesExist}}
				<h5 class="subtitle"> {{^timeframeIsAllTime}}Children with the highest average disciplinary points over the past {{currentTimeframe}}{{/timeframeIsAllTime}}
					{{#timeframeIsAllTime}}Children with the highest average disciplinary points over all time{{/timeframeIsAllTime}}
				</h5>
				<table class="home-tables">
					<tr>
						<th> Name </th>
						<th> Mean Disciplinary Points </th>
						<th> Classes Attended </th>
					</tr>
					{{#disciplinaryIssues}}
					<tr>
						<td><a href="/students/{{uid}}">{{name}}</a></td>
						<td>{{meanDisciplinaryPoints}}</td>
						<td>{{classesAttended}}</td>
					</tr>
					{{/disciplinaryIssues}}
				</table>
				{{/disciplinaryIssuesExist}}


				{{^disciplinaryIssuesExist}}
				<p>There is no disciplinary data to display for this timeframe.</p>
				{{/disciplinaryIssuesExist}}
			</div>  
			<div class="grid-item" id="snackbar" style="grid-area:e">
				<i class="fas fa-info-circle moreInfo" title="This section charts the average percentage of students in a given class who eat each snack within the given timeframe. In order to check which snakcs were eaten in a given class, please search in class reports."></i>
				<h2> Snack Trends</h2>

				{{#snacksExist}}
				<h5 class="subtitle"> {{^timeframeIsAllTime}}Percentage of students eating each snack over the past {{currentTimeframe}}{{/timeframeIsAllTime}}
					{{#timeframeIsAllTime}}Percentage of students eating each snack over all time {{/timeframeIsAllTime}}
				</h5>
				<canvas id="general-foodChart"> </canvas>
				<script>
					var ctx = document.getElementById("general-foodChart");
					var foodChart = new Chart(ctx, {
					    type: 'bar',
					    data: {
					        labels: [{{#snacks}}"{{name}}",{{/snacks}}],
					        datasets: [{
					            // label: '# of Votes',
					            data: [{{#snacks}}{{avgPercentEaten}},{{/snacks}}],
					            backgroundColor: [
					                'rgba(255, 99, 132, 0.2)',
					                'rgba(54, 162, 235, 0.2)',
					                'rgba(255, 206, 86, 0.2)',
					                'rgba(75, 192, 192, 0.2)',
					                'rgba(153, 102, 255, 0.2)'
					            ],
					            borderColor: [
					                'rgba(255,99,132,1)',
					                'rgba(54, 162, 235, 1)',
					                'rgba(255, 206, 86, 1)',
					                'rgba(75, 192, 192, 1)',
					                'rgba(153, 102, 255, 1)'
					            ],
					            borderWidth: 1
					        }]
					    },
					    options: {
					    	legend: {
								display: false
							},	
					        scales: {
					            yAxes: [{
					                ticks: {
					                    beginAtZero:true,
					                    max:100,
					                    callback: function(value, index, values) {
				                        	return value+"%";
                    					}
					                }
					            }],
					            xAxes: [{
					                ticks: {
					                    autoSkip:false,
					                    callback: function(value) {
								          words = value.split(" ");
								          console.log(words);

								          output = [];
								          builtWord = "";
								          numWordsCount = 0;
								          //var w = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
								          var w = document.getElementById('snackbar').offsetWidth;
								          console.log(w);
								          for (var i=0; i<words.length; i++) {
								          	if ((words[i].length + builtWord.length) > w/50) {
								          		if (builtWord == ""){
								          			builtWord+=words[i] + " ";
								          		} else {
								          			i-=1;
								          		}
								          		output.push(builtWord);
								          		builtWord = "";
								          		numWordsCount = 0;
								          	} else { //if less then 10, keep building up
								          		numWordsCount += 1;
								          		builtWord+=words[i] + " ";
								          	}
								          }
								          if (builtWord != "") {
								          	output.push(builtWord);
								          }
								          console.log(output);
								          return output;

								        },
					                }
					            }]


					        },
					        tooltips: {
								callbacks: {
								  label: (item) => `${item.yLabel}%`,
								},
							},
					    }
					});
				</script>

				{{/snacksExist}}

				{{^snacksExist}}
				<p>There is no snack consumption data to display for this timeframe.</p>
				{{/snacksExist}}
			</div>
			{{/isAdultClass}}

		</div>
	<main>
</body>
</html>