<!DOCTYPE html>
<html>
<head>
	<title>Class Report {{uid}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>

		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 style = "margin:0" align ="center"> Class Report {{uid}}</h1>
					<h4 style = "margin:1%" align ="center">{{#formattedWhenRecorded}}Recorded {{formattedWhenRecorded}} - {{/formattedWhenRecorded}}
					{{classroom}} - 
					{{classType}}</h4>
				</div>
			</div>
		</div>


	</header>

	<main>
		<div class="grid-container" id="g-report">
			<div class="grid-item" style="grid-area:a">
				{{#reportIsEditable}}<a href="/editReport/{{uid}}"><i class="fas fa-edit editReportButton" title="Edit this report's information."></i></a>{{/reportIsEditable}}

				<table id="reportInfoTable">
		            <tr>
		                <th>Teachers</th>
		                <td>{{#teachersExist}}{{teacherString}}{{/teachersExist}}{{^teachersExist}}No teachers linked to this report.{{/teachersExist}}</td>
		            </tr>

		            {{^isAdultClass}}
		            {{#snack}}
		            <tr>
		                <th>Snack Type</th>
		                <td>{{snack}}</td>
		            </tr>
		            {{/snack}}
		            {{/isAdultClass}}

		            {{#comments}}
		            <tr>
		                <th>Class Comments</th>
		                <td>{{comments}}</td>
		            </tr>
		            {{/comments}}
		        </table>
			</div>


			<div class="grid-item" style="grid-area:b">
				<h2> Student Records </h2>

				{{#recordsExist}}
					<table class="report-table">
						<tr>
							<th> Student: </th>
							{{^isAdultClass}}
							<th> Did eat? </th>
							<th> Disciplinary Points </th>
							{{/isAdultClass}}
							<th> Comments</th>
						</tr>

						{{#records}}
						<tr>
							<td> <a href="/students/{{studentUID}}">{{student}}</a></td>
							{{^isAdultClass}}
							<td> {{#didEat}}<i class="fas fa-check yesAte"></i>{{/didEat}}{{^didEat}}<i class="fas fa-times noAte"></i>{{/didEat}}</td> 
							<td> {{disciplinePoints}} </td>
							{{/isAdultClass}}
							<td> {{comments}} </td>
						</tr>
						{{/records}}
					</table>
				{{/recordsExist}}

				{{^recordsExist}}
					<p>No records exist for this Class Report.</p>
				{{/recordsExist}}
			</div>
			

		</div>
	<main>
</body>
</html>