<!DOCTYPE html>
<html>
<head>
	<title>Report Search Results</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>
    
		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center"> Report Search</h1>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="grid-container" id="g-search-reports">
			<div id="search-filters" class="grid-item" style="grid-area:a;padding:0px;overflow:none;vertical-align: center;">
				<form action="/searchReports" method="POST" class="special-top">
					<div style="float:left;margin-top:10px;margin-left:15px;margin-right:2px;">
						<b>Classroom:</b>&nbsp;
					</div>

					<select style="margin-top:10px;margin-left:0px;" name="classroomUID" onchange="this.form.submit();">
						<option value="-1">All Classrooms</option>
						{{#classrooms}}
						<option value="{{uid}}"{{#selected}}selected{{/selected}}>{{name}}</option>
						{{/classrooms}}
					</select>  

					<div style="float:left;margin-top:10px;margin-right:2px;">
						<b>Class Type:</b>&nbsp;
					</div>
					<select style="margin-top:10px;margin-left:0px;" name="classTypeUID" onchange="this.form.submit();">
						<option value="-1">All Class Types</option>
						{{#classTypes}}
						<option value="{{uid}}"{{#selected}}selected{{/selected}}>{{name}}</option>
						{{/classTypes}}
					</select>

					<div style="float:left;margin-top:10px;margin-right:2px;">
						<b>From:</b> &nbsp;
					</div>

					<input style="margin-top:8px;margin-left:0px;" type="date" name="startDate" value="{{startDate}}">
					<div style="float:left;;margin-top:10px;margin-right:2px;">
						<b>To:</b>&nbsp;
					</div>
					<input style="margin-top:8px;margin-left:0px;" type="date" name="endDate" value="{{endDate}}">

					<button style="margin-top:2px;margin-bottom:2px;float:left;" id="index-settings" class="search-button" type="submit"><i class="fas fa-search"></i></button>

				</form>

			</div>
			<div class="grid-item" style="grid-area:b">
				<h2> Search Results </h2>

				{{#reportsExist}}
				<table id="search-reports-results">
					<tr>
						<th> Report ID </th>
						<th> Date Recorded </th>
						<th> Classroom </th>
						<th> Class Type </th>
					</tr>
					{{#reports}}
					<tr>
						<td><a href="/reports/{{uid}}">Report {{uid}}</a></td>
						<td>{{whenRecorded}}</td>
						<td>{{classroom}}</td>
						<td>{{classType}}</td>
					</tr>
					{{/reports}}
				</table>
				{{/reportsExist}}

				{{^reportsExist}}
				<p>There are no search results. Try adjusting the timeframe or other search parameters.</p>
				{{/reportsExist}}
			</div>
		</div>
	<main>
</body>
</html>