<!DOCTYPE html>
<html>
<head>
	<title>Student - {{name}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
<!-- 	<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>
	<script>
		var $start, $end;

		$(document).ready(function() {
			// preselect attendance calendar date input elements
			$start = $('#startDate');
			$end = $('#endDate');
		});

		// submit form to update attendance date range, if valid
		function updateAttendanceCalendar(form) {
			console.log($start.val());
			console.log($end.val());

			console.log(moment());

			var start = moment($start.val());
			var end = moment($end.val());
			if (start.isValid() && end.isValid()) {
				console.log(start.isBefore(end));
			}
		}
	</script> -->

</head>

<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>
		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center">{{name}}</h1>
				</div>
			</div>
		</div>
	</header>

	<main>
		<div class="grid-container" id="g-students">
			<div class="grid-item" style="grid-area:a;">
				<a href="/editStudent/{{uid}}"><i class="fas fa-user-edit editStudentButton" title="Edit this student's profile information."></i></a>
				<h2> Student Information </h2>
				<table id="studentInfoTable">
		            <tr>
		                <th>Age Group</th>
		                <td>{{#isAdult}}Adult{{/isAdult}}{{^isAdult}}Child{{/isAdult}}</td>
		            </tr>

		            {{#parentString}}
			       	<tr>
		                <th>Parents</th>
		                <td>{{parentString}}</td>
		            </tr>
		            {{/parentString}}

		            {{#address}}
		            <tr>
		            	<th>Address</th>
		            	<td>{{address}}</td>
		            </tr>
		            {{/address}}

		            {{#phone}}
		            <tr>
		            	<th>Phone Number</th>
		            	<td>{{phone}}</td>
		            </tr>
		            {{/phone}}

		            {{#uniformSize}}
		            <tr>
		            	<th>Uniform Size</th>
		            	<td>{{uniformSize}}</td>
		            </tr>
		            {{/uniformSize}}

		            {{#usualClassroom}}
		            {{#usualClassType}}
		            {{#usualClassFrequency}}
		            <tr>
		            	<th>Usual Class</th>
		            	<td>{{usualClassroom}} - {{usualClassType}} <span title="This percentage indicates the frequency with which this student attends the indicated 'usual class'">({{usualClassFrequency}}% of the time)</span></td>
		            </tr>
		            {{/usualClassFrequency}}
		            {{/usualClassType}}
		            {{/usualClassroom}}

		            {{#specialCircumstances}}
		            <tr>
		            	<th>Special Circumstances</th>
		            	<td>{{specialCircumstances}}</td>
		            </tr>
		            {{/specialCircumstances}}
		        </table>
			</div>
			<div class="grid-item" style="grid-area:b">
				<i class="fas fa-info-circle moreInfo" title="This section plots recorded disciplinary points for this student with days upon which class occurrred, within the given timeframe.{{#disciplineDataAveraged}} In order to fit a large amount of data, the points are being averaged in groups.{{/disciplineDataAveraged}}"></i>
				<h2> Disciplinary History </h2>

				{{^isAdult}}
					{{#disciplineDataExists}}
						<h5 class="subtitle"> {{^timeframeIsAllTime}}Daily disciplinary points accumulated over the past {{currentTimeframe}}{{/timeframeIsAllTime}}
							{{#timeframeIsAllTime}}Daily disciplinary points accumulated over all time{{/timeframeIsAllTime}}
							{{#disciplineDataAveraged}} (Averaged to fit timeframe){{/disciplineDataAveraged}}
						</h5>
						<canvas id="line-chart"></canvas>
						<script>
							new Chart(document.getElementById("line-chart"), {
								type: 'line',
								data: {
								labels: [{{#disciplineData}}"{{x}}",{{/disciplineData}}],
								datasets: [{ 
								    data: [{{#disciplineData}}{{y}},{{/disciplineData}}],
								    borderColor: "#3e95cd",
								    fill: false
								  }
								]
								},
								options: {
									legend: {
										display: false
									},
									scales: {
							            yAxes: [{
							            	scaleLabel: {
												display: true,
												labelString: 'Disciplinary Points'
											},
							                ticks: {
							                    min: 0
							                }
							            }],
							            xAxes: [{
							            	scaleLabel: {
												display: true,
												labelString: 'Day'
											}
							            }]
							        }
								}
								});
						</script>
					{{/disciplineDataExists}}

					{{^disciplineDataExists}}
						<p>There is no disciplinary history for this student in the given timeframe.</p>
					{{/disciplineDataExists}}

					<form action="/students/{{uid}}" method="POST">
						Graph Timeframe: 
						<select name="discHistoryTimeframe" onchange="this.form.submit();">
							{{#timeframes}}
								<option value="{{abbrev}}" {{#selected}}selected{{/selected}}>{{name}}</option>
							{{/timeframes}}
						</select>



				{{/isAdult}}

				{{#isAdult}}
					<p>There is no disciplinary history, as this student is an adult.</p>
				{{/isAdult}}

			</div>
			<div class="grid-item" style="grid-area:c">
				<div id="records-container">
					<div id="records-upper">
						<h2> Attendance Records </h2>
							<b>From:</b> &nbsp;
							<input id="startDate" type="date" name="attendanceStartDate" value="{{attendanceStartDate}}">

							<b>To:</b>&nbsp;
							<input id="endDate" type="date" name="attendanceEndDate" value="{{attendanceEndDate}}">

							<input type="submit" id="attendance-records-form-submit" value="Update">
						</form>
					</div>

					<div id="records-lower">
						{{#attendanceRecordsExist}}
						<table id="studentRecordsTable">
							<tr>
								<th>Report ID</th>
								<th>Report Date</th>

								{{^isAdult}}
								<th>Ate?</th>
								<th>Disciplinary Points</th>
								{{/isAdult}}

								<th>Comments</th>
								<th>Class</th>
							</tr>
							{{#attendanceRecords}}
							<tr>
								<td><a href="/reports/{{reportUID}}">Report {{reportUID}}</a></td>
								<td>{{whenRecorded}}</td>

								{{^isAdult}}
								<td>{{#didEat}}<i class="fas fa-check yesAte"></i>{{/didEat}}{{^didEat}}<i class="fas fa-times noAte"></i>{{/didEat}}</td>
								<td>{{disciplinePoints}}</td>
								{{/isAdult}}

								<td>{{comments}}</td>
								<td>{{classroom}} - {{classType}}</td>
							</tr>
							{{/attendanceRecords}}
						</table>
						{{/attendanceRecordsExist}}
						
						{{^attendanceRecordsExist}}
						<p>There is no attendance history for this student in the given timeframe.</p>
						{{/attendanceRecordsExist}}
					</div>
				</div>
			</div>
		</div>
	<main>
</body>
</html>