<!DOCTYPE html>
<html>
<head>
	<title>System Tools</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/navbar.css">
	<link rel="stylesheet" type="text/css" href="/main_style.css">
	<link rel="stylesheet" type="text/css" href="/tools.css">
	<script src="/Chart.js"></script>

	<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
	// add jQuery tooltip to all icons
	$(function() {
		$(document).tooltip();
	});
	</script>

	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<!-- jQuery UI for confirmations -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>

	$(function() {
		// configure dialog settings
		function getDialogSettings($form, $dialogElement, $submit) {
	        // add listener for submit button
			$submit.on('click', function(e) {
				e.preventDefault();
	            $dialogElement.dialog('open');
	        });

	        // return settings
			return {
	            resizable: false,
	            height: "auto",
	            autoOpen: false,
	            width: 400,
	            modal: true,
	            buttons: {
	                "Yes": function() {
	                    $form.submit();
	                },
	                "No": function() {
	                    $(this).dialog("close");
	                }
	            }
	        };
        }

				// set up add classroom confirmation dialogue
        $("#add-classroom").dialog(getDialogSettings($('#addClassroomForm'), $('#add-classroom'), $('#submitAddClassroom')));

        // set up delete classroom confirmation dialogue
        $("#delete-classroom").dialog(getDialogSettings($('#deleteClassroomForm'), $('#delete-classroom'), $('#submitDeleteClassroom')));

				// set up add class type confirmation dialogue
        $("#add-classtype").dialog(getDialogSettings($('#addClassTypeForm'), $('#add-classtype'), $('#submitAddClassType')));

        // set up delete class type confirmation dialogue
        $("#delete-classtype").dialog(getDialogSettings($('#deleteClassTypeForm'), $('#delete-classtype'), $('#submitDeleteClassType')));

				// set up add snack confirmation dialogue
        $("#add-snack").dialog(getDialogSettings($('#addSnackForm'), $('#add-snack'), $('#submitAddSnack')));

        // set up delete snack confirmation dialogue
        $("#delete-snack").dialog(getDialogSettings($('#deleteSnackForm'), $('#delete-snack'), $('#submitDeleteSnack')));

        {{#auth.userIsAdmin}}
				// set up auth teacher confirmation dialogue
        $("#auth-teacher").dialog(getDialogSettings($('#authTeacherForm'), $('#auth-teacher'), $('#submitAuthTeacher')));

        // set up deauth teacher confirmation dialogue
				$("#deauth-teacher").dialog(getDialogSettings($('#deauthTeacherForm'), $('#deauth-teacher'), $('#submitDeauthTeacher')));
				
				// set up update teacher archive confirmation dialogue
        $("#update-archive-t").dialog(getDialogSettings($('#update-teacher-archive'), $('#update-archive-t'), $('#submitUpdateTeacherArchive')));

				// set up auth admin confirmation dialogue
        $("#auth-admin").dialog(getDialogSettings($('#authAdminForm'), $('#auth-admin'), $('#submitAuthAdmin')));

        // set up deauth admin confirmation dialogue
				$("#deauth-admin").dialog(getDialogSettings($('#deauthAdminForm'), $('#deauth-admin'), $('#submitDeauthAdmin')));
				
				// set up update admin archive confirmation dialogue
        $("#update-archive-a").dialog(getDialogSettings($('#update-admin-archive'), $('#update-archive-a'), $('#submitUpdateAdminArchive')));
        {{/auth.userIsAdmin}}
	});
    </script>
</head>

<body>
	<header>
    <div class="navbar">
      <ul>
        <li title="Home"><a href="/"><i class="fas fa-home"></i></a></li>
        <li title="System Tools"><a href="/tools"><i class="fas fa-wrench"></i> <span class="navText">System Tools</span></a></li>
        <li title="Search Class Reports"><a href="/searchReports"><i class="fas fa-book"></i> <span class="navText">Search Class Reports</span></a></li>
        <li title="New Class Report"><a href="/newReport"><i class="fas fa-folder-plus"></i> <span class="navText">New Class Report</span></a></li>
        <li title="Search Students"><a href="/searchStudents"><i class="fas fa-user"></i> <span class="navText">Search Students</span></a></li>
        <li title="Add Student"><a href="/newStudent"><i class="fas fa-user-plus"></i> <span class="navText">Add Student</span></a></li>
        <div style="float:right">
          <li id="authMessage"><a href="#">{{auth.message}}</a></li>
          <li title="Log Out"><a href="/logout"><span class="navText">Log Out</span> <i class="fas fa-sign-out-alt"></i></a></li>
        </div>
      </ul>
    </div>
    
		<div class="h-main" style="height:140px">
			<div class="logo-wrapper-outer">
				<div class="logo-wrapper-inner">
					<a href="/"> <img height="100%" src="/hca_logo.png" /></a>
				</div>
			</div>

			<div class="title-wrapper">
				<div class="title">
					<h1 align ="center">System Tools - {{#auth.userIsAdmin}}Administrator{{/auth.userIsAdmin}}{{^auth.userIsAdmin}}Teacher{{/auth.userIsAdmin}}</h1>
				</div>
			</div>
		</div>
	</header>

	<main>
		<!-- add classroom confirmation dialogue -->
		<div id="add-classroom" title="Add New Classroom?" hidden>
			<p></span>This will add a new classroom to the system. Are you sure?</p>
		</div>

		<!-- delete classroom dialogue -->
		<div id="delete-classroom" title="Delete Classroom?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This will <strong>permanently</strong> remove this classroom from the system. This action cannot be undone. <br><br>Are you sure?</p>
		</div>

		<!-- add class type confirmation dialogue -->
		<div id="add-classtype" title="Add New Class Type?" hidden>
			<p></span>This will add a new class type to the system. Are you sure?</p>
		</div>

		<!-- delete class type dialogue -->
		<div id="delete-classtype" title="Delete Class Type?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This will <strong>permanently</strong> remove this class type from the system. This action cannot be undone. <br><br>Are you sure?</p>
		</div>

		<!-- add snack confirmation dialogue -->
		<div id="add-snack" title="Add New Snack?" hidden>
			<p></span>This will add a new snack type to the system.<br><br>Are you sure?</p>
		</div>

		<!-- delete snack dialogue -->
		<div id="delete-snack" title="Delete Snack?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This will remove this snack from the system. This action cannot be undone.<br><br>Are you sure?</p>
		</div>

		{{#auth.userIsAdmin}}
		<!-- authorize teacher confirmation dialogue -->
		<div id="auth-teacher" title="Authorize Teacher?" hidden>
			<p></span>This will allow the owner of this email to use this system as a teacher.<br><br>Are you sure?</p>
		</div>

		<!-- deauthorize teacher confirmation dialogue -->
		<div id="deauth-teacher" title="Deauthorize Teacher?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This permanently delete this teacher's data from the system, disallowing them from logging in, and unlinking them from any reports.<br><br>If you would like to maintain their data while removing them from the login system, consider archiving them below.<br><br>Are you sure?</p>
		</div>

		<!-- change teacher archive dialogue -->
		<div id="update-archive-t" title="Update Archive Status?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Archiving will prevent this teacher from logging in, but their data from any reports will be preserved for historical records.<br><br>Unarchiving will restore this teacher to full functionality.<br><br>Are you sure?</p>
		</div>

		<!-- authorize admin confirmation dialogue -->
		<div id="auth-admin" title="Authorize Administrator?" hidden>
			<p></span>This will allow the owner of this email to use this system as an administrator.<br><br>Are you sure?</p>
		</div>

		<!-- deauthorize admin confirmation dialogue -->
		<div id="deauth-admin" title="Deauthorize Administrator?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This permanently delete this administrator's data from the system, disallowing them from logging in, and unlinking them from any reports.<br><br>If you would like to maintain their data while removing them from the login system, consider archiving them below.<br><br>Are you sure?</p>
		</div>

		<!-- change admin archive dialogue -->
		<div id="update-archive-a" title="Update Archive Status?" hidden>
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>Archiving will prevent this admin from logging in, but their data from any reports will be preserved for historical records.<br><br>Unarchiving will restore this admin to full functionality.<br><br>Are you sure?</p>
		</div>
		{{/auth.userIsAdmin}}

		<div class="grid-container" id="g-tools">
			<div class="grid-item" style="grid-area:a">
				<h2> Manage Snacks</h2>
				<b> Add Snack:</b>
				<div class="input-wrapper">
					<form id="addSnackForm" action="/newSnack" method="POST">
						<input name="snackName" type="text" autocomplete="off" placeholder="Enter snack name...">
						<input id="submitAddSnack" class="submit-button" type="button" value="Create New Snack">
					</form>
				</div>

				{{#snacksExist}}
				<b> Remove Snack:</b>
				<div class="input-wrapper">
					<form id="deleteSnackForm" action="/removeSnack" method="POST">
						<select name="snackUID">
							{{#snacks}}
							<option value="{{uid}}">{{name}}</option>
							{{/snacks}}
						</select>
						<input id="submitDeleteSnack" class="delete-buttons" type="button" value="Delete Snack">
					</form>
				</div>
				{{/snacksExist}}
			</div>

			<div class="grid-item" style="grid-area:d">
				<h2> Add New Student </h2>
				<div id="add-new-student" class="input-wrapper">
					<a href="/newStudent" id="newStudentLink">Add a New Student <i class="fas fa-user-plus"></i></a>
				</div>
			</div>

			{{#auth.userIsAdmin}}
			<div class="grid-item" style="grid-area:c">
				<h2> Manage Classrooms </h2>
				<b> Add Classroom: </b>
				<div class="input-wrapper">
					<form id="addClassroomForm" action="/newClassroom" method="POST">
						<input name="classroomName" type="text" autocomplete="off" placeholder="Enter classroom name...">
						<input id="submitAddClassroom" class="submit-button" type="button" value="Create Classroom">
					</form>
				</div>

				{{#classroomsExist}}
				<b> Remove Classroom: </b>
				<div class="input-wrapper">
					<form id="deleteClassroomForm" action="/removeClassroom" method="POST">
						<select name="classroomUID" class="classroom">
							{{#classrooms}}
							<option value="{{uid}}">{{name}}</option>
							{{/classrooms}}
						</select>  
						<input id="submitDeleteClassroom" class="delete-buttons" type="button" value="Delete Classroom">
					</form>
				</div>
				{{/classroomsExist}}
			</div>
			<div class="grid-item" style="grid-area:b">
				<h2> Manage Class Types</h2>
				<b> Add Class Type: </b>
				<div class="input-wrapper">
					<form id="addClassTypeForm" action="/newClassType" method="POST">
						<input name="classTypeName" id="add-classtype" type="text" autocomplete="off" placeholder="Enter class type name...">
						<select name="isAdult">
							<option value="0">Child</option>
							<option value="1">Adult</option>
						</select>
						<input id="submitAddClassType" class="submit-button" type="button" value="Create Class Type">
					</form>
				</div>

				{{#classTypesExist}}
				<b> Remove Class Type: </b>
				<div class="input-wrapper">
					<form id="deleteClassTypeForm" action="/removeClassType" method="POST">
						<select id="remove-classtype" name="classTypeUID">
							{{#classTypes}}
							<option value="{{uid}}">{{name}}</option>
							{{/classTypes}}
						</select>
						<input id="submitDeleteClassType" class="delete-buttons" type="button" value="Delete Class Type">
					</form>
				</div>
				{{/classTypesExist}}
			</div>
			<div class="grid-item" style="grid-area;e">
				<h2> Manage Teacher Authorization</h2>
				<b> Authorize Teacher: </b>
				<div class="input-wrapper">
					<form id="authTeacherForm" action="/newUser" method="POST">
						<input name="isAdmin" type="text" value="0" hidden>
						<input class="newUserInput" name="name" type="text" placeholder="Enter teacher name..."><br>
						<input class="newUserInput" name="email" id="add-teacher" type="text" autocomplete="off" placeholder="Enter teacher email..."><br>
						<input id="submitAuthTeacher" class="submit-button newUserInput" type="button" value="Authorize">
					</form>
				</div>

				{{#teachersExist}}
				<b> De-Authorize Teacher: </b>
				<div class="input-wrapper">
					<form id="deauthTeacherForm" action="/removeUser" method="POST">
						<select name="userUID" id="remove-teacher">
							{{#teachers}}
							<option value="{{uid}}">{{name}} ({{email}}) {{#isArchived}}(Archived){{/isArchived}}</option>
							{{/teachers}}
						</select>  
						<input id="submitDeauthTeacher" class="delete-buttons" type="button" value="Deauthorize">
					</form>
				</div>
				{{/teachersExist}}

				{{#teachersExist}}
				<b> Update Teacher Archival Status: </b>
				<div class="input-wrapper">
					<form id="update-teacher-archive" action="/updateArchive" method="POST">
						<select name="userUID" class="archive">
							{{#teachers}}
							<option value="{{uid}}">{{name}} ({{email}}) {{#isArchived}}(Archived){{/isArchived}}</option>
							{{/teachers}}
						</select><br>
						<select name="isArchived" class="archive">
							<option value="1">Archive</option>
							<option value="0">Unarchive</option>
						</select><br>
						<input id="submitUpdateTeacherArchive" class="submit-button archive" type="button" value="Update">
					</form>
				</div>
				{{/teachersExist}}
			</div>
			<div class="grid-item" style="grid-area;f">
				<h2> Manage Admin Authorization</h2>
				<b> Authorize Admin: </b>
				<div class="input-wrapper">
					<form id="authAdminForm" action="/newUser" method="POST">
						<input name="isAdmin" type="text" value="1" hidden>
						<input class="newUserInput" name="name" type="text" placeholder="Enter administrator name..."><br>
						<input class="newUserInput" name="email" id="add-admin" type="text" autocomplete="off" placeholder="Enter administrator email..."><br>
						<input id="submitAuthAdmin" class="submit-button newUserInput" type="button" value="Authorize">
					</form>
				</div>

				{{#adminsExist}}
				<b> De-Authorize Admin: </b>
				<div class="input-wrapper">
					<form id="deauthAdminForm" action="/removeUser" method="POST">
						<select name="userUID" id="remove-admin">
							{{#admins}}
							<option value="{{uid}}">{{name}} ({{email}}) {{#isArchived}}(Archived){{/isArchived}}</option>
							{{/admins}}
						</select>  
						<input id="submitDeauthAdmin" class="delete-buttons" type="button" value="Deauthorize">
					</form>
				</div>
				{{/adminsExist}}

				{{#adminsExist}}
				<b> Update Admin Archival Status: </b>
				<div class="input-wrapper">
					<form id="update-admin-archive" action="/updateArchive" method="POST">
						<select name="userUID" class="archive">
							{{#admins}}
							<option value="{{uid}}">{{name}} ({{email}}) {{#isArchived}}(Archived){{/isArchived}}</option>
							{{/admins}}
						</select><br>
						<select name="isArchived" class="archive">
							<option value="1">Archive</option>
							<option value="0">Unarchive</option>
						</select><br>
						<input id="submitUpdateAdminArchive" class="submit-button archive" type="button" value="Update">
					</form>
				</div>
				{{/adminsExist}}
			</div>

			{{/auth.userIsAdmin}}

		</div>
	<main>
</body>
</html>