
* {
	font-family: 'Averia Sans Libre';
}

a {
	text-decoration: none;
}

#backButton {
	float: left;
	padding: 5px;
	border-radius: 3px;
	background-color: #3399ff;
	color: white;
	font-size: 17px;
}

#backButton:hover {
	background-color: #66b3ff;
}

input {
/*    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
*/
/*    border-style: solid;
	border-color: black;*/
	width: 400px;
	padding: 3px;
	border-radius: 4px;
	margin: 5px;
}

textarea {
	border-radius: 6px;
}

.fieldName {
	font-size: 15px;
	font-weight: bold;
}

#specialCircumstances {
	width: 400px;
	height: 100px;
}


.grid-item {
	background-color: white;
	outline: 0;
}

.grid-container {
	margin-bottom: 100px;
}

.submit {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

	width: 150px;
	padding: 5px;
	border-radius: 3px;
	background-color: #3399ff;
	color: white;
	font-size: 17px;

}

.submit:hover {
	cursor: pointer;
	background-color: #66b3ff;
}

select {
	background-color: #dfdfdf;
	font-size: 14px;
	border: none;
	padding: 4px;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 10px;
}

#submitDeleteForm {
	float: right;
	width: 50px;
	background-color: #ff4d4d;
}

#submitDeleteForm:hover {
	background-color: #ff6666;
}

.required {
	color: #ff3333;
	text-decoration: none;
}

#fieldsTable {
	text-align: center;
	width: auto;
	margin: auto;
}