

* {
	font-family: 'Averia Sans Libre';
}

a {
	text-decoration: none;
}

.grid-item {
	font-size: 14px;
}

#backButton {
	float: left;
	padding: 5px;
	border-radius: 3px;
	background-color: #3399ff;
	color: white;
	font-size: 17px;
}

#backButton:hover {
	background-color: #66b3ff;
}

select {
	background-color: #dfdfdf;
	font-size: 14px;
	border: none;
	padding: 4px;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 10px;
	margin: 6px;
}

.submit {
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#submitDeleteReport {
	float: right;
	width: 50px;
	padding: 5px;
	border-radius: 3px;
	color: white;
	font-size: 17px;
	background-color: #ff4d4d;
}

#submitDeleteReport:hover {
	background-color: #ff6666;
	cursor: pointer;
}

#submitEditReport {
	padding: 10px;
	margin: 15px;
	border-radius: 3px;
	background-color: #3399ff;
	color: white;
	font-size: 17px;
}

#submitEditReport:hover {
	background-color: #66b3ff;
	cursor: pointer;
}

.fieldName {
	font-size: 15px;
	font-weight: bold;
}

.grid-container {
	margin-bottom: 200px;
}


#classComments {
	width: 500px;
	height: 130px;
	border-radius: 6px;
}

#teacherTable {
	width: auto;
	margin: auto;
}

.studentComments {
	width: 300px;
	height: 55px;
	border-radius: 6px;
}

#toggleTeacherInterface {
	padding: 5px;
	border-radius: 3px;
	background-color: #dfdfdf;
	margin: 10px;
}

#toggleTeacherInterface:hover {
	background-color: #e6e6e6;
	cursor: pointer;
}

#teacherWrapper {
	margin: 10px;
}

#teacherToggleWrapper {
	margin: 15px;
}

.disciplinePoints {
	border-radius: 4px;
}