
a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    color: #3399ff;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    background: url('hca_texture.png');
    background-repeat: repeat;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*background-size: cover; */
}

body {
    font-family: 'Averia Sans Libre';
    margin:0;
    padding:0;
    background-color: #ffffff;
    color: #4c4c4c;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.aligncenter{
    text-align: center;
}

.header-wrapper {
    display: block;
    float: left;

}

header {
    background-color: #53493D;
}

header .h-main{
    height: 100%;
    width: 100%;

    display: inline-block;
    background-image: url('hca_texture.png');
    background-repeat: repeat;
    vertical-align: middle;
    color: black;
}

header .h-main .logo-wrapper-outer{
    position:relative;
    float:left;
    text-align:center;
    width:30%;
    height:100%;
}

header .h-main .logo-wrapper-inner{
    height:50%;
    width:100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .h-main .title-wrapper{
    position:relative;
    float:left;
    text-align:center;
    width:40%;
    height:100%;
}

header .h-main .search-wrapper{
    width:30%;
    height:100%;
    vertical-align: middle;
    position:relative;
    float:left;
}

header .h-main .search-wrapper .search{
    height:20%;
    width:60%;
    margin: 0;
    padding: 14px;
    position: absolute;
    top: 52%;
    -ms-transform: translateY(-52%);
    transform: translateY(-52%);
    left: 0%;
    -ms-transform: translateX(-0%);
    transform: translateX(-0%);
}

header .h-main .search-wrapper .search-button{
    height: 22%;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    position: absolute;
    top: 53%;
    -ms-transform: translateY(-53%);
    transform: translateY(-53%);
    left: 63%;
    -ms-transform: translateX(-30%);
    transform: translateX(-30%);
}

header .h-main h1 {
    vertical-align: middle;
    position:relative;
    padding-top:45px;
}

main {
    height: 100%;
    width: 100%;
    display: block;
    float: left;

}

footer{
    height:100%;
    background-image: url('hca_texture.png');
    background-repeat: repeat;

}

.grid-container {
    position:relative;
    display: grid;
    grid-gap: 10px; /* look good or not? */
    background-image: url('hca_texture.png');
    background-repeat: repeat;
    padding-bottom: 10px; /* before had padding on top too */
    padding-left: 10%;
    padding-right: 10%;
    width:100%;
    height:100%;
    margin-bottom: 150px;
}


#g-index.grid-container {
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 34px 50%;*/
    grid-template-rows: auto;
    grid-template-areas:
        "a a"
        "b c"
        "d e";
}

#g-students.grid-container {
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "a c"
            "b c";
}

#g-search-students.grid-container {
    grid-template-areas:
        "a"
        "b";
}

#g-report.grid-container {
    grid-template-columns: 100%;
    grid-template-areas:
            "a"
            "b";
}

#g-report header {
    height:50%;
}

#g-tools.grid-container {
    grid-template-columns: 50% 50%;
    /*grid-template-rows: 32% 32% 32%; */
    grid-template-rows: auto;
    grid-template-areas:
        "a d"
        "b e"
        "c null";
}

#g-tools.grid-container .grid-item h2 {
    margin:5px;
}

#g-search-reports.grid-container {
    grid-template-areas:
        "a"
        "b";
}

.grid-item {
    background-color: rgba(255, 255, 255, 1); /* last input (transparency was 0.8) */
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 14px;
    font-family: 'Averia Sans Libre';
    text-align: center;
    height:100%;
}

.grid-item table {
    width:100%;
}

.grid-item th {
    text-decoration: underline;
    width: (100/x)%;
}

/*input,select {
    float:left;
    margin-right:1%
}*/

.special-top select {
    float:left;
    margin-right:1%
}

.special-top input {
    float:left;
    margin-right:1%
}

/*#g-search-results.grid-container .grid-item .input-wrapper input,select {
    float:left;
    margin-right:1%
}
*/

header {
    margin-bottom: 20px;
}

/* more info icon on charts / stats on homepage and students page */
.moreInfo {
    float: right;
    color: #999999;
    font-size: 18px;
}

.moreInfo:hover {
    cursor: pointer;
}

/* link on student page to /editStudent */
.editStudentButton {
    float: right;
    color: #999999;
    font-size: 17px;
}

.editStudentButton:hover {
    cursor: pointer;
}

/* link on report page to /editReport */
.editReportButton {
    float: right;
    color: #999999;
    font-size: 17px;
}

.editReportButton:hover {
    cursor: pointer;
}

/* general report info on /reports */
#reportInfoTable {
    width: auto;
    text-align: left;
    margin: auto;
}

.search-wrapper {
    height: 40px;
    display: flex;
    /*justify-content: left;*/
    align-items: center;
}

/* form on student search page to submit student name for search */
#searchStudentsForm {
    display: inline;
}

/* link to /newStudent from student search page */
#newStudentLink {
    margin-left: auto;
    background-color: #3399ff;
    color: white;
    font-size: 13px;
    padding: 5px;
    border-radius: 3px;
    height: 80%;
}

#newStudentLink:hover {
    background-color: #66b3ff;
}

.search-button {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background-color: #3399ff;
    color: white;
    font-size: 15px;
    padding: 8px;
    border-radius: 3px;
    height: 80%;
    display: inline-block;
}

.search-button:hover {
    cursor: pointer;
    background-color: #66b3ff;
}

.search {
    background-image:none;
    background-color:white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border-style: solid;
    border-color: #cccccc;
    padding: 8px;
    border-radius: 3px;
    height: 80%;
    width: 300px;
    display: inline-block;
}

.yesAte {
    font-size: 15px;
    color: #33ff33;
}

.noAte {
    font-size: 15px;
    color: #ff3333;
}

#search-filters {
    padding:0;
    vertical-align: center;
}

#search-filters select, #search-filters input {
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
}

/* dropdown style */
select {
    background-color: #e6e6e6;
    font-family: 'Averia Sans Libre';
    font-size: 14px;
    border: none;
    padding: 2px;
    border-radius: 3px;
    cursor:pointer;
    margin-left: 10px;
}

/* submit button on the student page for retrieving attendance records */
#attendance-records-form-submit {
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    font-family: 'Averia Sans Libre';
    padding: 3px;
    border-radius: 3px;
    background-color: #3399ff;
    color: white;
    font-size: 15px;
}

#attendance-records-form-submit:hover {
    cursor: pointer;
    background-color: #66b3ff;
}

#studentInfoTable {
    text-align: left;
    margin-top: 20px;
    border-collapse: collapse;
}

/* rows in table */
#studentInfoTable tr {
    margin: 5px;
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
#studentInfoTable tr:first-child, #studentInfoTable tr:last-child {
    border: none;
}

/* padding for individual table elements */
#studentInfoTable td, #studentInfoTable th {
    padding: 8px;
}

#studentInfoTable th {
    width: 30%;
}


/* attendance records on /student page */
#studentRecordsTable {
    margin-top: 20px;
    border-collapse: collapse;
}

#studentRecordsTable tr {
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
#studentRecordsTable tr:first-child, #studentRecordsTable tr:last-child {
    border: none;
}

#studentRecordsTable tr:hover {
    background-color: #f5f5f5;
}

/* padding for individual table elements */
#studentRecordsTable td, #studentRecordsTable th {
    padding: 4px;
}

#records-container {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#records-upper {
  height: 100px;
  margin-bottom: 4px;
}

#records-lower {
  flex-grow : 1;
  max-height: 90%;
  overflow: scroll;
  max-width: 100%;
}


/* student profile results on student search page */

#search-students-results {
    margin-top: 20px;
    border-collapse: collapse;
}

#search-students-results tr {
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
#search-students-results tr:first-child, #search-students-results tr:last-child {
    border: none;
}

#search-students-results tr:hover {
    background-color: #f5f5f5;
}

/* padding for individual table elements */
#search-students-results td, #search-students-results th {
    padding: 6px;
}

/* report results on report search page */

#search-reports-results {
    margin-top: 20px;
    border-collapse: collapse;
}

#search-reports-results tr {
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
#search-reports-results tr:first-child, #search-reports-results tr:last-child {
    border: none;
}

#search-reports-results tr:hover {
    background-color: #f5f5f5;
}

/* padding for individual table elements */
#search-reports-results td, #search-reports-results th {
    padding: 6px;
}

/* homepage tables */

.home-tables {
    margin-top: 20px;
    border-collapse: collapse;
}

.home-tables tr {
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
.home-tables tr:first-child, .home-tables tr:nth-child(2), .home-tables tr:last-child {
    border: none;
}

/* padding for individual table elements */
.home-tables td, .home-tables th {
    padding: 3px;
}


/* table of individual records on report page */

.report-table {
    margin-top: 20px;
    border-collapse: collapse;
}

.report-table tr {
    border: solid;
    border-width: 1px 0;
    border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
.report-table tr:nth-child(2), .report-table tr:first-child, .report-table tr:last-child {
    border: none;
}

.report-table tr:hover {
    background-color: #f5f5f5;
}

/* padding for individual table elements */
.report-table td, .report-table th {
    padding: 3px;
}

.subtitle {
    font-size: 14px;
}