
html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    font-family: 'Averia Sans Libre';
    font-size: 14px;
	width: 100%;
    background-color: #53493D;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float:left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #38322b;
}

/* push text titles for each link away from their icons */
.navbar li a i {
	margin-right: 5px;
}

/* small windows */
@media (max-width: 80em) {
	#authMessage {
		display: none;
    }
}

@media (max-width: 60em) {
    /* hide all the text labels on buttons in the navbar */
    .navText {
        display: none;
    }
}