

* {
  font-family: 'Averia Sans Libre';
}

a {
  text-decoration: none;
}

.grid-item {
  font-size: 14px;
}

#backButton {
  float: left;
  padding: 5px;
  border-radius: 3px;
  background-color: #3399ff;
  color: white;
  font-size: 17px;
}

#backButton:hover {
  background-color: #66b3ff;
}

select {
  background-color: #dfdfdf;
  font-size: 14px;
  border: none;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
  margin: 6px;
}

.submit {
  border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#submitNewReport {
  padding: 10px;
  margin: 15px;
  border-radius: 3px;
  background-color: #3399ff;
  color: white;
  font-size: 17px;
}

#submitNewReport:hover {
  background-color: #66b3ff;
  cursor: pointer;
}

.fieldName {
  font-size: 15px;
  font-weight: bold;
}

.grid-container {
  margin-bottom: 200px;
}


#classComments {
  width: 80%;
  height: 130px;
  border-radius: 6px;
}

#teacherTable {
  width: auto;
  margin: auto;
}

.studentComments {
  width: 300px;
  height: 55px;
  border-radius: 6px;
}

#toggleTeacherInterface {
  padding: 5px;
  border-radius: 3px;
  background-color: #dfdfdf;
  margin: 10px;
  font-size: 17px;
}

#toggleTeacherInterface:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}

#teacherWrapper {
  margin: 10px;
}

#teacherToggleWrapper {
  margin: 15px;
}

.disciplinePoints {
  border-radius: 4px;
}

#studentBlock {
  padding: 10px;
  margin: auto;
  width: 80%;
  background-color: rgb(241, 240, 240);
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
}

#searchStudents {
  width: 50%;
  height: 30px;
  font-size: 13px;
  margin-bottom: 15px;
}

#studentsContainer {
  margin: auto;
  width: 90%;
  max-height: 400px;
  overflow-y: scroll;
  background-color: rgb(241, 240, 240);
  padding: 5px;
}

.addIcon {
  font-size: 21px;
  color: #3399ff;
}

.addIcon:hover {
  cursor: pointer;
}

#studentsTable {
  border-collapse: collapse;
}

#studentsTable tr {
  border: solid;
  border-width: 1px 0;
  border-color: #d9d9d9;
}

/* prevent first and last rows from having line above or below */
#studentsTable tr:nth-child(2), #studentsTable tr:first-child, #studentsTable tr:last-child {
  border: none;
}

#studentsTable tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

/* padding for individual table elements */
#studentsTable td, #studentsTable th {
  padding: 3px;
}


@media only screen and (max-width: 800px) {
  #studentsContainer {
    width: 100%;
  }
}

/* button to remove student from report */
.removeStudent {
  font-size: 20px;
  padding: 5px;
  color: #ff4d4d;
}

.removeStudent:hover {
  cursor: pointer;
}

#new-student-name {
  width: 100%;
  height: 30px;
  font-size: 13px;
}

.parent-input {
  height: 30px;
  font-size: 13px;
}