
* {
	font-family: 'Averia Sans Libre';
}

.grid-item input {
	border: none;
    background-image:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.submit-button {
	color: white;
	padding: 5px;
	border-radius: 3px;
	background-color: #3399ff;
	font-size: 13px;
}

.submit-button:hover {
	cursor: pointer;
	background-color: #66b3ff;
}

.grid-item input[type=text] {
	cursor: auto;
	font-size: 13px;
	padding: 4px;
	color: black;
	background-color: white; /* #f2f2f2;*/
	width: 250px;
	border-style: solid;
	border-width: 2px;
    border-color: #cccccc;
    border-radius: 3px;
}

.delete-buttons {
	color: white;
	padding: 5px;
	border-radius: 3px;
	font-size: 13px;
	background-color: #ff3333;
}

.delete-buttons:hover {
	cursor: pointer;
	background-color: #ff4d4d;
}

.input-wrapper {
	margin: 7px;
}

#add-new-student {
	margin-top: 15px;
}

.newUserInput {
	margin-top: 5px;
}

.archive {
	margin-bottom: 5px;
}

b {
	display: inline-block;
	margin-top: 15px !important;
}