

body {
    font-family: 'Averia Sans Libre';
    margin:0;
    padding:0;
    background: url('hca_texture.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
	margin: auto;
	text-align: center;
}

#main-logo {
	width: 800px;
	margin-top: 20px;
}